#page {
    display: flex;
    justify-content: space-evenly;
    line-height: 30px;
    font-family: ProximaNovaA-Regular;
    }
#bigbasket > div {
    display:flex;
    flex-direction: column;
}
#help>div {
    display:flex;
    flex-direction: column;
}
#download, p {
    display: flex;
    flex-direction: column;
}
div > a{
    display: flex;
    flex-direction: column;

}
div> a>img{
    width: 40px;
}
a{
    text-decoration: none;
    color: #8a8d9e;
}
h4{
    color:#8ad682 ;
}
hr{
    margin-left: 80px;
    margin-right: 80px;
}
#getsocialcontact > div{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
table{
    margin-top: 20px;
}
.heading{
    display: block;
    min-width: 250px;
}
.properties{
    color:#8ad682 ;
}
#whole-table{
    padding: 0px 120px;
    
}
.size{
    width: 500px;
}
#box {
    border: 1px solid rgb(101, 99, 99);
    margin: 0px 150px 0px 150px;
    padding: 10px 50px;
    font-family: ProximaNovaA-Regular;
}
/*medium screen*/
@media screen and (min-width:760px) and (max-width:1024px) {
    #page{
        flex-direction: column;
    }

    #whole-table{
        flex-direction: column;
    }
    
}

/*small screen*/
@media screen and (min-width:320px) and (max-width:760px) {
    #page{
        flex-direction: column;
    }

    #whole-table{
        flex-direction: column;
    }
    
}