*{
    margin:10px 30px 10px 30px;
}
.top{
    display: flex;
    justify-content: right;
}
.top,a{
    text-decoration: none;
    color: #82868c;
    gap: 30px;
}
.search{
    width: 50%;
    height:100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 800px;
    height: 40px;
    display: flex;
}
form input{
    flex: 1;
}
form button{
    background: green;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
}
form.fa-search {
    color:black
}
.basket.fa-basket-shopping{
    color: black;
}
.nav{
    display: flex;
    justify-content: space-evenly;
}
.nav>a>img{
    width: 200px;
}